footer {
    align-items: center;
    background-color:#AFC0C7;
    color: black;
    display: flex;
    height: 100px;
    width: 100%;
    place-content: center;
  }

  footer a {
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
  }