header {
    align-items: center;
    background-color:#AFC0C7;
    color: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  
  title {
    margin-left: 30px;
    width: 200px;
  }