.home_url{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    display: inline-table;

}
.creating_url{
    border: 2px solid black;
    width: 500px;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
}
