.register {
    // background-image: linear-gradient(#21c08b, #8f57fd);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
  }
  
  .register__container {
    background-color: #8ea1e1;
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    padding: 60px 68px 40px;
    width: 300px;
  }
  
  .register__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .register__container a {
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .register__container a:hover {
    text-decoration: underline;
  }

  .button {
    background-color: #7289da;
    border: 2px solid white;
    border-radius: 25px;
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    
  }

  .input {
    background-color: #7289da;
    border: 2px solid white;
    border-radius: 25px;
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}